<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="euc-kr">
    <meta http-equiv="Content-Type" content="text/html;charset=euc-kr"/>
    <title>TestCase</title>
	<script src="http://code.jquery.com/jquery-1.7.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js" data-semver="1.3.7" data-require="angular.js@*"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js" data-semver="2.0.11" data-require="ng-grid@*"></script>
	<script type="text/javascript" src="js/xml2json2.js" charset="euc-kr"></script>
	<script src="assets/lib/ionic/js/angular/angular-cookies.js"></script>
	<script src="js/json2.js"></script>
    <script src="js/common.js"></script>
	<script>
		function getUnixTimeStamp(){
			return Math.floor(new Date().getTime() / 1000);
		}				
	</script>	
    <style>
		ion-scroll[direction=x] {
		  width: 100vw;
		}
		ion-scroll[direction=y] {
		  height: 100vh;
		}
		.layer_fixed{
			height:200px;
			width:100%;
			color: #555;
			font-size:12px;
			position:fixed;
			z-index:999;
			bottom:0px;
			left:0px;
			-webkit-box-shadow: 0 1px 2px 0 #777;
			box-shadow: 0 1px 2px 0 #777;
			background-color:#ffffff;
		}
		.bg_sel{
			background:#c0ffb8;
			font-size:12px;
			font-weight:bold;
		}
		.bg_sel_center{
			background:#c0ffb8;
			font-size:14px;
			font-weight:bold;
			text-align:center;
		}
		.bg_unsel{
			background:#ffffff;
		}
		.td_header{
			text-align:center;
			font-size:12px;
			font-weight:bold;
			background:#efefef;
			height:25px;	
		}

		.td_header_80{
			text-align:center;
			font-size:12px;
			font-weight:bold;
			background:#efefef;
			height:25px;	
			width:80px;
		}
		.td_header_100{
			text-align:center;
			font-size:12px;
			font-weight:bold;
			background:#efefef;
			height:25px;	
			width:100px;
		}		
		.td_header_yes{
			text-align:center;
			font-size:12px;
			font-weight:bold;
			background:#9ae1ff;
			height:25px;	
		}
		.td_header_dark{
			text-align:left;
			margin-left:10px;
			font-size:14px;
			font-weight:bold;
			background:#c0c0c0;
			height:25px;
			color:#000000;	
		}

		.td_header_no{
			text-align:center;
			font-size:12px;
			font-weight:bold;
			background:#ff8b99;
			height:25px;	
		}
		.td_center{
			text-align:center;
			font-size:12px;
			font-weight:normal;	
			background:#ffffff;
			height:25px;
		}
		.td_center_bold{
			text-align:center;
			font-size:20x;
			font-weight:bold;	
			background:#ffffff;
			height:30px;
		}	
		.td_center_bold_blue{
			text-align:center;
			font-size:15px;
			font-weight:bold;	
			background:#ffffff;
			color:blue;
			height:30px;
		}			
		.td_center_bold_red{
			text-align:center;
			font-size:15px;
			font-weight:bold;	
			background:#ffffff;
			color:red;
			height:30px;
		}			
		.td_center_xml{
			text-align:center;
			font-size:12px;
			font-weight:normal;
			background:#ffffff;
			height:25px;
			width:80px;
		}
		.td_left{
			text-align:left;
			font-size:12px;
			font-weight:normal;	
			background:#ffffff;	
			height:25px;	
		}
		.td_right{
			text-align:right;
			font-size:12px;
			font-weight:normal;	
			background:#ffffff;	
			height:25px;	
		}
		.td_white_bold{
			font-size:12px;
			font-weight:bold;
			background:#ffffff;
		}
		.td_white_bold_50p{
			width:50%;
			font-size:12px;
			font-weight:bold;
			background:#ffffff;
		}
		.td_left_red{
			text-align:left;
			font-size:12px;
			font-weight:bold;	
			background:#ffffff;	
			height:25px;
			color:red;
		}
		.td_center_red{
			text-align:center;
			font-size:12px;
			font-weight:bold;	
			background:#ffffff;	
			height:25px;
			color:red;
		}	
		.small_font_red{
			font-size:8px;
			color:red;
		}
		.small_font_black{
			font-size:8px;
			color:black;
		}
		
    </style>	
</head>	

<script type="text/javascript">
angular.module('testList', ['ngCookies'])
	.factory('focusForm', function($timeout, $window) {
		return function(id) {
		  $timeout(function() {
			var element = $window.document.getElementById(id);
			console.log(element);
			if(element)
			  element.focus();
		  });
		};
	})
	.directive('myEnter', function () {
		return function (scope, element, attrs) {
			element.bind("keydown keypress", function (event) {
				if(event.which === 13) {
					scope.$apply(function (){
						scope.$eval(attrs.myEnter);
					});

					event.preventDefault();
				}
			});
		};
	})	
		
	.controller('testListCtrl', function($scope, $http, $timeout, focusForm) {

		//var x2js = new X2JS();

		var d = new Date();
		var curYear  = d.getFullYear();
		var curMonth = d.getMonth() + 1;
		var curDay   = d.getDate();
		if(curMonth < 10){
			curMonth = "0"+curMonth;
		}
		if(curDay < 10){
			curDay = "0"+curDay;
		}
		
		
		$scope.searchTotalCount = 0;
		$scope.logXML = "";
		
		$scope.testCaseListSort    = ['in_domain','act_id'];
		$scope.service_domain_str  = ["기본","비서","OTV","전화","홈캠","홈IOT","지니뮤직"];
		$scope.sys_act_list        =  {"99":"Operate", "0":"Specify", "1":"Confirm", "100":"All", "3":"Reject", "4":"RejectT", "5":"RejectS","2":"Cancel", "11":"Chat", "12":"Inform", "13":"Alarm", "14":"None"};

		$scope.data         = {};
		$scope.selDrop      = {};
		$scope.catFilter    = {};
		$scope.resultFilter = {};

		$scope.groupDrop    = {};
		$scope.groupFilter  = {};
		
		$scope.testGroupList = [];			// testGroup
		$scope.headerList = [];				// header list
		$scope.serviceDomainList = [];		// service domain list
		$scope.actTypeList = [];            // act type list 
		
		// testcaseList
		$scope.testCaseList = [];
		$scope.testCaseResult = [];
		$scope.testCaseResultSingle = [];
		
		// summary
		$scope.summaryData = {};
		$scope.summaryData.test_count = 0;
		$scope.summaryData.error_count = 0;
		
		$scope.summaryData.sys_act_match_count    = 0;
		$scope.summaryData.act_type_match_count   = 0;
		$scope.summaryData.service_id_match_count = 0;
		$scope.summaryData.uinfo_match_count      = 0;
		$scope.summaryData.search_match_count     = 0;
		$scope.summaryData.all_match_count        = 0;       // sys_act_match, act_type_match, uinfo_match

		// ==================================================================================
		// Common
		// ==================================================================================
		$scope.ordTitle = function(){
			$scope.testCaseListSort = ['exam'];
		}
		
		$scope.s4 = function(){
			return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);		
		}
		$scope.uuid = function(){	
			return $scope.s4()+$scope.s4()+'-'+$scope.s4()+'-'+$scope.s4()+'-'+$scope.s4()+'-'+$scope.s4()+$scope.s4()+$scope.s4();
		}
		
		$scope.findActNameByActType = function(actType){
			var ret = "";
			var cnt = $scope.actTypeList.length;
			for(var i=0; i<cnt; i++){
				var dt = $scope.actTypeList[i];
				if(dt.actType == actType){
					ret = dt.act_type_str;
					break;
				}
			}
			if(ret == ""){
				ret = "undefined";
			}
			return ret;
		}

		// ==================================================================================
		// header
		// ==================================================================================
		$scope.changeHeader = function(){
			//console.log($scope.data.sn +":"+$scope.data.header_nm+":"+$scope.data.uinfo);
		}
		
		// ----------------------------------------------------------------------------------
		$scope.addHeader = function(){
			alert('on work...');
		}
		
		// ----------------------------------------------------------------------------------		
		$scope.editHeader = function(){
		
			alert('on work...');
		}
		
		// ==================================================================================
		// Load Init Data
		// ==================================================================================
        jQuery.ajax({
          url: "http://litual.cafe24.com/dss/proc/get_testcase.php?callback=?",dataType : "jsonp"
        })
        .done(function( dt ) {
				//console.log(dt);
				setTimeout(function () {
					$scope.$apply(function () {
						$scope.headerList        = dt.header_list;
						$scope.serviceDomainList = dt.service_domain_list;
						$scope.actTypeList       = dt.act_type_list;
						$scope.testCaseList      = dt.testcase_list;
						$scope.testGroupList     = dt.testgroup;
					});
				}, 1000);
        });		


		// ==================================================================================
		// single send from title click
		// ==================================================================================	
		$scope.sendSingleFormForce = function(){
			$scope.selTestItem = {};
			$scope.testCaseResultSingle = [];					
			$scope.testCaseResult = [];	
			
			$scope.logXML = "";
			var urls = "/kdialog/web/getActionGetBrokerUTF";
			var vv = $scope.data.reqmsg_f;
			var inParams = {"i":"0",
			            "id":$scope.data.id, 
			            "status":$scope.data.status, 
						"reqmsg":encodeURIComponent(vv),
						"event":$scope.data.event,
						"uinfo":$scope.data.uinfo,
						"context":$scope.data.context,
						"STB_VER":$scope.data.STB_VER,
						"stbVersion":$scope.data.stbVersion,
						"product_id":$scope.data.product_id,
						"appID":$scope.data.appID,
						"tm":getUnixTimeStamp()} ;
							
			$http.get(urls, {params: inParams})
				.success(function(dt) {	
					$scope.logXML = dt;	
				})
				.error(function(data) {
			});		
		}

		// ----------------------------------------------------------------------------------
		$scope.sendSingle = function(testId){
			$scope.logXML = "";	
			$scope.testCaseResultSingle = [];					
			$scope.testCaseResult = [];		
			
			var tcDt;
			var idx;
			for(var i=0; i<$scope.testCaseList.length; i++){
				var dd = $scope.testCaseList[i].test_id;
				if(dd==testId){
					tcDt = $scope.testCaseList[i];
					idx = i;
					$scope.testCaseList[i].is_check = "1";
					break;
				}
			}
			
			var pStatus   = $scope.data.status;
			var pEvent    = $scope.data.event;
			var pUinfo    = $scope.data.uinfo;
			var pContext  = $scope.data.context;
			if(tcDt.p_status != ''){	pStatus  = tcDt.p_status;	}
			if(tcDt.p_event  != ''){	pEvent   = tcDt.p_event;	}
			if(tcDt.p_uinfo  != ''){	pUinfo   = tcDt.p_uinfo;	}
			if(tcDt.p_context != ''){	pContext = tcDt.p_context;	}

			var inParams = {"i":idx,
							"id":$scope.data.id, 
							"reqmsg":encodeURIComponent(tcDt.exam),
							"status":pStatus, 						
							"event":pEvent,
							"uinfo":pUinfo,
							"context":pContext,
							"STB_VER":$scope.data.STB_VER,
							"stbVersion":$scope.data.stbVersion,
							"product_id":$scope.data.product_id,
							"appID":$scope.data.appID,
							"tm":getUnixTimeStamp()} ;

				console.log(inParams);
				
				$scope.testCaseResultSingle = [];					
				var urls = "/kdialog/web/getActionGetBrokerUTF";
				jQuery.ajax ( {
					url: urls,
					dataType: "xml",
					data: inParams,
					async: false,
					success: function( dt ) {
						//console.log(dt);
						if(dt != null){
							var xmlText = new XMLSerializer().serializeToString(dt);
							$scope.logXML = xmlText;
							$scope.searchMainResult(idx, inParams, tcDt, dt);						
						}
					}
				});	
		}

		// ----------------------------------------------------------------------------------
		$scope.testGo = function(){
			$scope.logXML = "";	
			$scope.testCaseResult = [];
			$scope.searchTotalCount = 0;			
			var cnt = $scope.testCaseList.length;
			
			$scope.summaryData = {};
			$scope.summaryData.test_count = 0;
			$scope.summaryData.sys_act_match_count = 0;
			$scope.summaryData.act_type_match_count = 0;
			$scope.summaryData.error_count = 0;
			$scope.summaryData.service_id_match_count = 0;
			$scope.summaryData.uinfo_match_count = 0;
			$scope.summaryData.all_match_count = 0;
			
			if($scope.data.id == null ||  $scope.data.id == undefined ||  $scope.data.id == ""){
				focusForm('id');
				alert(' id 를 입력해 주세요 ');
				return;
			}
			
			if($scope.data.uinfo == null ||  $scope.data.uinfo == undefined || $scope.data.uinfo == ""){
				focusForm('uinfo');
				alert(' uinfo 를 입력해 주세요 ');
				return;
			}			
			
			var searchDomainKey = "";
			for(var sKeys in $scope.catFilter){
				searchDomainKey = sKeys;
			}
			console.log("searchDomainKey="+searchDomainKey);
			
			for(var i=0; i<cnt; i++){
				var tcDt = $scope.testCaseList[i];

				var pStatus   = $scope.data.status;
				var pEvent    = $scope.data.event;
				var pUinfo    = $scope.data.uinfo;
				var pContext  = $scope.data.context;
				if(tcDt.p_status != ''){	pStatus  = tcDt.p_status;	}
				if(tcDt.p_event  != ''){	pEvent   = tcDt.p_event;	}
				if(tcDt.p_uinfo  != ''){	pUinfo   = tcDt.p_uinfo;	}
				if(tcDt.p_context != ''){	pContext = tcDt.p_context;	}
	
				//console.log("searchKey="+searchDomainKey);
				if(searchDomainKey=="service_domain"){
					var ttId = jQuery("#show-filter").val();
					if(tcDt.service_domain == ttId){
						var prms = {"i":i,
									"id":$scope.data.id, 
									"reqmsg":encodeURIComponent(tcDt.exam),
									"status":pStatus, 						
									"event":pEvent,
									"uinfo":pUinfo,
									"context":pContext,	
									"STB_VER":$scope.data.STB_VER,
									"stbVersion":$scope.data.stbVersion,
									"product_id":$scope.data.product_id,
									"appID":$scope.data.appID,
									"tm":getUnixTimeStamp()} ;
									
						$scope.summaryData.test_count++;	
						$scope.searchMain(i, prms, tcDt);
					}	
					
				}else if(searchDomainKey == "gid"){
					var tgId = jQuery("#testgroup-filter").val();
					if(tcDt.gid == tgId){
						//console.log(tcDt.gid+":"+tcDt.exam);
						var prms = {"i":i,
									"id":$scope.data.id, 
									"reqmsg":encodeURIComponent(tcDt.exam),
									"status":pStatus, 						
									"event":pEvent,
									"uinfo":pUinfo,
									"context":pContext,	
									"STB_VER":$scope.data.STB_VER,
									"stbVersion":$scope.data.stbVersion,
									"product_id":$scope.data.product_id,
									"appID":$scope.data.appID,
									"tm":getUnixTimeStamp()} ;
									
						$scope.summaryData.test_count++;	
						$scope.searchMain(i, prms, tcDt);
					}
					
				}else{
					var prms = {"i":i,
								"id":$scope.data.id, 
								"reqmsg":encodeURIComponent(tcDt.exam),
								"status":pStatus, 						
								"event":pEvent,
								"uinfo":pUinfo,
								"context":pContext,	
								"STB_VER":$scope.data.STB_VER,
								"stbVersion":$scope.data.stbVersion,
								"product_id":$scope.data.product_id,
								"appID":$scope.data.appID,
								"tm":getUnixTimeStamp()} ;
					
					$scope.summaryData.test_count++;	
					$scope.searchMain(i, prms, tcDt);
				}		
			}
			//console.log("---------------------------------------------------------");
			//console.log($scope.testCaseResult);
		}
		
		// --------------------------------------------------------------------- sync (not async - need jQuery 1.8 below)
		$scope.searchMain = function(idx, inParams, tcDt){
			$scope.testCaseResultSingle = [];					
			var urls = "/kdialog/web/getActionGetBrokerUTF";
			/*
			$http.get(urls, {params: inParams})
				.success(function(dt) {	
					$scope.searchMainResult(idx, inParams, tcDt, dt);
				})
				.error(function(data) {
					$scope.searchTotalCount++;
					$scope.testCaseList[idx].is_check = "ERR";
			});	
			*/
			jQuery.ajax ( {
				url: urls,
				dataType: "xml",
				data: inParams,
				async: false,
				success: function( dt ) {
					if(dt != null){
						//dt.idx = idx;
						//$scope.testCaseResult = $scope.testCaseResult.concat(dt);
						$scope.searchMainResult(idx, inParams, tcDt, dt);						
					}
				}
			});
		}
		$scope.searchMainResult = function(idx, inParams, tcDt, dt){
			//$scope.searchTotalCount++;
			idx = inParams.i;
			var erK = 0;
			
			var jStr = xml2json(dt,"");
			jStr = jStr.replace(/#cdata/gi, "cdata");
			var utter = JSON.parse(jStr);
						
			/*
			try {
				utter = x2js.xml_str2json(dt);
			}catch(err) {
				erK++;
				$scope.summaryData.error_count++;
			}
			*/
																
			if(erK > 0){
				console.log("query error");
			}else{
				if(utter != undefined){
					$scope.testCaseList[idx].is_check = "1";
					$scope.testCaseList[idx].xml = dt;
					
					var retObj   = utter.dialogframe.response.utter;
					var uword    = retObj.uword;
					var sysAct   = retObj.sysAct;
									
					var action = retObj.action;
					var actionLen = 0;
					if(action != undefined){
						var actionStr = JSON.stringify(action);  
						var prefix = actionStr.substring(0,1);
										
						if(prefix=="["){
							actionLen = action.length;
							for(var j = 0; j<actionLen; j++){
								var ok_search        = false;
								var ok_sysAct        = false;
								var ok_actType       = false;
								var ok_serviceDomain = false;
								var ok_Pattern       = false;
											
								var actInArr = action[j];
								actInArr.result_idx  = (j+1)+"/"+actionLen;
								actInArr.uuid = $scope.uuid();
								actInArr.p_sysAct = sysAct;
								actInArr.p_uword  = uword;
								actInArr.baseTcDt = tcDt;
								
								// strip cdata 
								actInArr.mesg      = $scope.getXMLValue(actInArr.mesg);
								actInArr.serviceId = $scope.getXMLValue(actInArr.serviceId);
												
								// actTypeString
								actInArr.actTypeStr = $scope.findActNameByActType(actInArr.actType);		
								actInArr.ori_service_domain_str = $scope.service_domain_str[tcDt.service_domain];

								// searchWord check
								var searchWordChkResult = $scope.searchWordValidityCheck(tcDt, actInArr);
								if(searchWordChkResult == "0"){
									$scope.summaryData.search_match_count++;
									ok_search = true;
								}												
								actInArr.search_check_result = searchWordChkResult;
												
								// sysAct, actType match
								if(actInArr.p_sysAct  == tcDt.ans_sysAct){
									$scope.summaryData.sys_act_match_count++;	
									ok_sysAct = true;
								}							
								if(actInArr.actType == tcDt.ans_actType){
									$scope.summaryData.act_type_match_count++;
									ok_actType = true;
								}
								
								// serviceId validity check
								var svcPattern = $scope.serviceIdValidityCheck(tcDt, actInArr);
								if(svcPattern == "Good"){
									$scope.summaryData.service_id_match_count++;
									ok_Pattern = true;
								}												
								actInArr.service_id_check_result = svcPattern;
																			
								// uinfo check
								//var uInfoMatch = $scope.chkUInfoPerm(tcDt.service_domain);
								//actInArr.service_domain_match = uInfoMatch;

								// actGroup check
								actInArr.actGroup_str = $scope.service_domain_str[actInArr.actGroup];											
								var actGroupMatch = $scope.chkActGroupPerm(actInArr.actGroup);
								actInArr.actGroup_match = actGroupMatch;
								if(actGroupMatch == "1"){
									$scope.summaryData.uinfo_match_count++;
									ok_serviceDomain = true;
								}
								
								// all correct count
								if(ok_search==true && ok_sysAct==true && ok_actType==true && ok_serviceDomain==true && ok_Pattern==true){
									actInArr.is_all_match = "1";
									$scope.summaryData.all_match_count++;
								}else{
									actInArr.is_all_match = "0";
								}
											

								// searched header
								
								// add action result
								$scope.testCaseResult = $scope.testCaseResult.concat(actInArr);
							}
											
						}else if(prefix=="{"){
							var ok_search        = false;
							var ok_sysAct        = false;
							var ok_actType       = false;
							var ok_serviceDomain = false;
							var ok_Pattern       = false;
												
							var actInArr = action;
							actInArr.result_idx  = "1/1";
							actInArr.uuid = $scope.uuid();
							actInArr.p_sysAct = sysAct;
							actInArr.p_uword  = uword;												
							actInArr.baseTcDt = tcDt;
							
							// strip cdata 
							/*
							var tmpSvcId = "";
							if(actInArr.serviceId==null || actInArr.serviceId==undefined || actInArr.serviceId==''){
								tmpSvcId = "";
							}else{
								if(actInArr.serviceId.hasOwnProperty("cdata")){
									tmpSvcId = actInArr.serviceId.cdata;
								}else{
									tmpSvcId = actInArr.serviceId;
								}
							}
							actInArr.serviceId = tmpSvcId;
							*/
							actInArr.mesg      = $scope.getXMLValue(actInArr.mesg);
							actInArr.serviceId = $scope.getXMLValue(actInArr.serviceId);
							
							// actTypeString
							actInArr.actTypeStr = $scope.findActNameByActType(actInArr.actType);		
							actInArr.ori_service_domain_str = $scope.service_domain_str[tcDt.service_domain];

							// searchWord check
							var searchWordChkResult = $scope.searchWordValidityCheck(tcDt, actInArr);
							if(searchWordChkResult == "0"){
								$scope.summaryData.search_match_count++;
								ok_search = true;
							}												
							actInArr.search_check_result = searchWordChkResult;												
										
							// sysAct, actType match
							if(actInArr.p_sysAct  == tcDt.ans_sysAct){
								$scope.summaryData.sys_act_match_count++;	
								ok_sysAct = true;
							}				
							if(actInArr.actType == tcDt.ans_actType){
								$scope.summaryData.act_type_match_count++;
								ok_actType = true;
							}
												
							// result validity check
							var svcPattern = $scope.serviceIdValidityCheck(tcDt, actInArr);
							if(svcPattern == "Good"){
								$scope.summaryData.service_id_match_count++;
								ok_Pattern = true;
							}												
							actInArr.service_id_check_result = svcPattern;
										
							// uinfo check
							//var uInfoMatch = $scope.chkUInfoPerm(tcDt.service_domain);
							//actInArr.service_domain_match = uInfoMatch;

							// actGroup check
							actInArr.actGroup_str = $scope.service_domain_str[actInArr.actGroup];											
							var actGroupMatch = $scope.chkActGroupPerm(actInArr.actGroup);
							actInArr.actGroup_match = actGroupMatch;
							if(actGroupMatch == "1"){
								$scope.summaryData.uinfo_match_count++;
								ok_serviceDomain = true;
							}
										
							// all correct count
							/*
							console.log("ok_search="+ok_search);
							console.log("ok_sysAct="+ok_sysAct);
							console.log("ok_actType="+ok_actType);
							console.log("ok_serviceDomain="+ok_serviceDomain);
							console.log("ok_Pattern="+ok_Pattern);
							*/
							if(ok_search==true && ok_sysAct==true && ok_actType==true && ok_serviceDomain==true && ok_Pattern==true){
								actInArr.is_all_match = "1";
								$scope.summaryData.all_match_count++;
							}else{
								actInArr.is_all_match = "0";
							}
												
							// add action result
							$scope.testCaseResult = $scope.testCaseResult.concat(actInArr);
						}
					}
									
					$scope.testCaseList[idx].action_len = actionLen;
				}
			}		
		}

		
		// --------------------------------------------------------------- return cdata value
		$scope.getXMLValue = function(obj){
			var ret = "";
			if(obj==null || obj==undefined || obj==''){
				ret = "";
			}else{
				if(obj.hasOwnProperty("cdata")){
					ret = obj.cdata;
				}else{
					ret = obj;
				}
			}
			return ret;
		}
		
		// --------------------------------------------------------------- actGroup check : match =1, unmatch =0;
		$scope.chkActGroupPerm = function(arg){
			var tt = "";
			if(arg == undefined || arg==""){
				arg = "0";
			}	
			if(arg == "0"){
				tt = "1";
			}else{
				if($scope.data.uinfo == ""){
					return "0";
				}else{
					var uinfo = $scope.findValueByKey($scope.data.uinfo, "ID");	
					var idx = eval(arg);			
					if(idx>0){
						idx = idx-1;
						tt  = uinfo[idx];
						//console.log("chkActGroupPerm="+arg+":"+uinfo+":"+tt);
					}else{
						tt = "0";
					}
				}
			}
			return tt;
		}
		
		// ---------------------------------------------------------------
		$scope.loadAllId = function(){
			$scope.catFilter = {all_search:'0'};	
		}
		$scope.loadSelId = function(){
			var selId = jQuery("#show-filter").val();
			//console.log("loadSelId="+selId);			
			$scope.catFilter = {service_domain:selId};
		}		
		$scope.loadTestGroup = function(){
			var selId = jQuery("#testgroup-filter").val();
			$scope.catFilter = {gid:selId};
		}
		$scope.getSearchFilter = function(){
			return $scope.catFilter;
		}

		
		$scope.setResultFilter = function(arg){
			if(arg != ''){
				$scope.resultFilter = {is_all_match:arg};
			}else{
				$scope.resultFilter = {};
			}		
		}
		$scope.getResultFilter = function(){
			return $scope.resultFilter;
		}
		
		
		// ---------------------------------------------------------------
		$scope.showXML = function(testId){
			//console.log(testId);
			var xml = "";
			for(var i=0; i<$scope.testCaseList.length; i++){
				var dd = $scope.testCaseList[i].test_id;
				if(dd==testId){
					xml = $scope.testCaseList[i].xml;
					break;
				}
			}
			var xmlText = new XMLSerializer().serializeToString(xml);
			if(xmlText != ''){
				$scope.logXML = xmlText.replace(/>/gi,'>\n');
			}
			console.log(xmlText);
		}
		
		// ---------------------------------------------------------------
		$scope.showConsole = function(arg){
			console.log(arg);
		}
		
		// ---------------------------------------------------------------
		$scope.closeSingleBox = function(){
			$scope.actionResultSingle = [];
		}
		
		// ---------------------------------------------------------------
		$scope.closeXMLLog = function(){
			$scope.logXML = "";	
		}
		
		// ---------------------------------------------------------------
		// serviceIdValidityCheck
		// ---------------------------------------------------------------
		$scope.serviceIdValidityCheck = function(tcDt, action){
			var chkMethod = tcDt.chk_method;
			var oriServiceIdTmpl = tcDt.service_id_tmpl;
			var oriServiceIdPtrn = tcDt.service_id_ptrn;
			var oriServiceIdStr  = tcDt.service_id_str;
			var serviceId = action.serviceId;
					
			// return value is error count
			var ret = "";			
			
			if(chkMethod=="ptrn"){
				if(oriServiceIdPtrn=="param"){					ret = $scope.ptParam(oriServiceIdTmpl, serviceId);
				}else if(oriServiceIdPtrn=="value_integer"){	ret = $scope.ptValueInteger(oriServiceIdTmpl, serviceId);
				}else if(oriServiceIdPtrn=="value_string"){		ret = $scope.ptValueString(oriServiceIdTmpl, serviceId);
				}else if(oriServiceIdPtrn=="value_url"){		ret = $scope.ptValueUrl(oriServiceIdTmpl, serviceId);
				}else if(oriServiceIdPtrn=="na"){				ret = $scope.ptNa(oriServiceIdTmpl, serviceId);
				}else if(oriServiceIdPtrn=="ne"){				ret = $scope.ptNe(oriServiceIdTmpl, serviceId);
				}else if(oriServiceIdPtrn=="key_value"){		ret = $scope.ptKeyValue(oriServiceIdTmpl, serviceId);
				}else if(oriServiceIdPtrn=="key_static"){		ret = $scope.ptKeyStatic(oriServiceIdTmpl, serviceId);
				}else{
				}
				
			}else{  // equal
				if(action.serviceId == oriServiceIdStr){
					ret = "0";
				}else{
					ret = "1";
				}
			}

			//console.log("servicePatternCheck="+oriServiceId+":"+oriServicePtrn+":"+serviceId+"------>"+ret);
			if(ret == "999"){
				return "Key / Value not exist";
			}else if(ret == "0"){
				return "Good";
			}else {
				return ret;
			}
		}
		
		// ---------------------------------------------------------------------
		$scope.searchWordValidityCheck = function(tcDt, action){
			var ret = "0";
			//console.log(tcDt);
			//console.log("--------------------------------------------------------------------");
			//console.log(action);		
			if(tcDt.ans_srchword == null){
				tcDt.ans_srchword = "";
			}
			if(action.srchWord == null){
				action.srchWord = "";
			}
			if(tcDt.ans_srchopt == null){
				tcDt.ans_srchopt = "";
			}
			if(action.srchOpt == null){
				action.srchOpt = "";
			}
			if(tcDt.ans_srchqry == null){
				tcDt.ans_srchqry = "";
			}
			if(action.srchQry == null){
				action.srchQry = "";
			}
			if(tcDt.ans_sword == null){
				tcDt.ans_sword = "";
			}
			if(action.sWord == null){
				action.sWord = "";
			}
			
			
			
			if( tcDt.ans_srchword != action.srchWord){
				//console.log(tcDt.ans_srchword+":"+action.srchWord);
				ret = "1";
			}
			if(tcDt.ans_srchopt != action.srchOpt){
				//console.log(tcDt.ans_srchopt+":"+action.srchOpt);
				ret = "1";		
			}
			if(tcDt.ans_srchqry != action.srchQry){
				//console.log(tcDt.ans_srchqry+":"+action.srchQry);			
				ret = "1";
			}
			if(tcDt.ans_sword != action.sWord){
				//console.log(tcDt.ans_sword+":"+action.sWord);			
				ret = "1";
			}
			
			//console.log("--------------------------------------------------------------------");
			//console.log("-:"+ret);
			return ret;
		}
		
		// --------------------------------------------------------------- // param
		$scope.ptParam = function(ptrn, svcId){  
			return "EyeChecking";
		}
		
		// ---------------------------------------------------------------	 // value_integer	
		$scope.ptValueInteger = function (ptrn, svcId){  
			if(jQuery.isNumeric(svcId) == true){
				return "0";
			}else{
				return "1";
			}
		}
		
		// ---------------------------------------------------------------	// value_string	:: not url
		$scope.ptValueString = function (ptrn, svcId){  
			var ret = 999;
			if(svcId == "" || svcId == undefined){
				ret = "1";
			}else{
				if( (typeof svcId) == 'string' ){
					if(svcId.startsWith("http:\/\/") == true || svcId.startsWith("https:\/\/") == true){
						ret = "1";
					}else{
						ret = "0";
					}
				}else{
					ret = "1";
				}
			}
			return ret;
		}
		
		// ---------------------------------------------------------------	// value_url	
		$scope.ptValueUrl = function (ptrn, svcId){   
			if(svcId.startsWith("http:\/\/") == true || svcId.startsWith("https:\/\/") == true){
				return "0";
			}else{
				return "1";
			}
		}
		
		// --------------------------------------------------------------- // na		
		$scope.ptNa = function (ptrn, svcId){ 
			return "NeedEyeChecking";
		}
		
		// ---------------------------------------------------------------	// ne	
		$scope.ptNe = function (ptrn, svcId){   
			if(svcId =='' || svcId ==undefined || svcId==null){
				return "0";
			}else{
				return "1";
			}			
		}		
		
		// ---------------------------------------------------------------	// key_value	
		$scope.ptKeyValue = function (ptrn, svcId){   
			var ptrArr  = ptrn.split(",");
			if(ptrArr != undefined){
				var errCount = 0;
				for(var k=0; k<ptrArr.length; k++){
					var kyArr = ptrArr[k];
					if(kyArr != undefined){
						var arrVal = kyArr.split(":");
						var kk = arrVal[0];
						var kv = arrVal[1];
						var rv = $scope.findValueByKey(svcId, kk);
						//console.log("kk.kv.rv="+kk+":"+kv+":"+rv);
						errCount += $scope.chkErrorCount(rv, kv);
					}					
				}
				//console.log("AllErrCount="+errCount);				
			}
			return errCount;
		}
		$scope.findValueByKey = function(str, key){  
			var ret = "";
			if(str==null || str==undefined){	
				str = "";
			}
			if(str != ''){
				var ptrArr  = str.split(",");		
				if(ptrArr != undefined){
					for(var k=0; k<ptrArr.length; k++){
						var kyArr = ptrArr[k];
						//console.log(kyArr[0]);
						if(kyArr != undefined){
							var arrVal = kyArr.split(":");
							var kk = arrVal[0];
							var kv = arrVal[1];
							//console.log(kk+":"+kv);
							if(kk==key){
								ret += kv+",";
							}
						}
					}
				}
			}
			return ret;
		}
		
		// ---------------------------------------------------------------	// key_static	
		$scope.ptKeyStatic = function (ptrn, svcId){   
			var ptrArr  = ptrn.split(",");
			if(ptrArr != undefined){
				var errCount = 0;
				for(var k=0; k<ptrArr.length; k++){
					var kyArr = ptrArr[k];
					if(kyArr != undefined){
						var arrVal = kyArr.split(":");
						var kk = arrVal[0];
						var kv = arrVal[1];
						if(kv.startsWith("static-")){
							kv = kv.replace(/static-/gi, "");
						}
						var rv = $scope.findValueByKey(svcId, kk);
						if(rv != null){
							rv = rv.substring(0, rv.length-1);
						}

						//console.log("ptKeyStatic----kk="+kk+":kv="+kv+":rv="+rv);
						if(kv != rv){
							errCount += $scope.chkErrorCount(rv, kv);
						}
					}					
				}
				//console.log("ptKeyStatic-AllErrCount="+errCount);				
			}
			return errCount;		
		}		
		
		
		// ===============================================================
		// return data type error count (, split)
		// ===============================================================		
		// ---------------------------------------------------------------
		$scope.chkErrorCount = function(str, ty){
			var arrCount = 0;
			var okCount  = 0;
			if(str == "" || str == undefined){
				arrCount = 999;
			}else{
				var arr = str.split(",");
				if(arr != undefined){
					arrCount = arr.length-1;   // end is always ,
					for(var k=0; k<arr.length; k++){
						var kv = arr[k];
						if(kv == undefined){	
							kv = "";	
						}
						
						// ----------------------------------------------
						if(ty=="string"){
							if(kv != ''){
								okCount++;
							}					
						// ----------------------------------------------
						}else if(ty=="integer"){
							if(jQuery.isNumeric(kv) == true){
								okCount++;
							}
						// ----------------------------------------------						
						}else if(ty=="url"){
							if(kv.startsWith("http:\/\/") == true || kv.startsWith("https:\/\/") == true){
								okCount++;
							}
						// ----------------------------------------------
						}else if(ty=="date_strip"){
							if(kv.length == 12){	
								console.log("kv.length="+kv.length);
								okCount++;
							}
						// ----------------------------------------------
						}else if(ty=="date_dash"){
						// ----------------------------------------------
						}else if(ty=="date_ymd"){
							if(kv.length == 8){
								okCount++;
							}					
						// ----------------------------------------------
						}else if(ty=="date_hm"){
							if(kv.length == 4){
								okCount++;
							}						
						}
					}
				}
			}
			//console.log("ty="+ty+"arrCount="+arrCount+" /okCount="+okCount);
			return arrCount - okCount;
		}

		// -------------------------------------------------------------
		$scope.setServicePtrn = function(arg){
			$scope.selTestItem.service_ptrn = arg;
		}
		// -------------------------------------------------------------
		$scope.testItemModifyMain = function(){
			if(confirm(' Would you like to edit ? ')==false){
				return;
			}
			
			var urls = "http://litual.cafe24.com/dss/proc/modify_item.php";
			$http.get(urls, {params: inParams})
				.success(function(dt) {	
						console.log(dt);
				})
				.error(function(data) {
					alert("error");
			});	
		}
		
		// ------------------------------------------------------------- action requery, xml
		$scope.showActionXML = function(idx){
			var dt = $scope.actionResult[idx];
			console.log(dt);
		}
		
		
		// ============================================================== addHeader, editHeader, deleteHeader
		$scope.addHeaderClick = function(){
			if(confirm(' 헤더정보를 추가 하시겠습니까? ')==false){
				return;
			}		
			$scope.headerProc("http://litual.cafe24.com/dss/proc/header_regist_main.php");			
		}
		// --------------------------------------------------------------
		$scope.editHeaderClick = function(){
			if(confirm(' 헤더정보를 수정저장 하시겠습니까? ')==false){
				return;
			}
			$scope.headerProc("http://litual.cafe24.com/dss/proc/header_modify_main.php");			
		}
		
		// --------------------------------------------------------------
		$scope.deleteHeaderClick = function(){
			if(confirm(' 헤더정보를 삭제 하시겠습니까? ')==false){
				return;
			}
			$scope.headerProc("http://litual.cafe24.com/dss/proc/header_delete_main.php");
		}
		// --------------------------------------------------------------
		$scope.headerProc = function(urls){
			var inParams = {"sn":$scope.data.sn,
			                "header_nm":$scope.data.header_nm,
			                "id":$scope.data.id, 
			                "status":$scope.data.status, 
						    "event":$scope.data.event,
						    "uinfo":$scope.data.uinfo,
						    "context":$scope.data.context,
						    "STB_VER":$scope.data.STB_VER,
						    "stbVersion":$scope.data.stbVersion,
						    "product_id":$scope.data.product_id,
						    "appID":$scope.data.appID,
						    "tm":getUnixTimeStamp()} ;
			jQuery.ajax({
			  url: urls+"?callback=?",
			  dataType : "jsonp",
			  data : inParams
			})
			.done(function( dt ) {
				if(dt=="1"){
					alert(" 처리 되었습니다 ");
				}else{
					alert("처리중 오류가 발생하였습니다");
				}
			});			
		}
		
		// ============================================================== addTestcase, editTestCase
		$scope.editTestCase = function(testId){
			var sn = "";
			for(var i=0; i<$scope.testCaseList.length; i++){
				var dd = $scope.testCaseList[i].test_id;
				if(dd==testId){
					sn = $scope.testCaseList[i].sn;
					break;
				}
			}	
			var winWidth  = 860;
			var winHeight = 550;
			var winURL  = "testcaseEdit.html?sn="+sn;
			var winName = "testcaseAdd";
			var winPosLeft = (screen.width - winWidth) / 2;
			var winPosTop  = (screen.height - winHeight) / 2;
			var winOpt = "width="+winWidth+",height="+winHeight+",top="+winPosTop+",left="+winPosLeft;
			window.open(winURL, winName, winOpt + ",menubar=no,status=no,scrollbars=no,resizable=no");			
		}
		
		// ---------------------------------------------------------------
		$scope.addTestCase = function(){
			var winWidth  = 860;
			var winHeight = 550;
			var winURL  = "testcaseEdit.html";
			var winName = "testcaseAdd";
			var winPosLeft = (screen.width - winWidth) / 2;
			var winPosTop  = (screen.height - winHeight) / 2;
			var winOpt = "width="+winWidth+",height="+winHeight+",top="+winPosTop+",left="+winPosLeft;
			window.open(winURL, winName, winOpt + ",menubar=no,status=no,scrollbars=no,resizable=no");
		}
		
		
		// ===============================================================
		// testGroup
		// ===============================================================
		$scope.testgroupManage = function(){
			var winWidth  = 860;
			var winHeight = 550;
			var winURL  = "testgroupEdit.html";
			var winName = "testgroupEdit";
			var winPosLeft = (screen.width - winWidth) / 2;
			var winPosTop  = (screen.height - winHeight) / 2;
			var winOpt = "width="+winWidth+",height="+winHeight+",top="+winPosTop+",left="+winPosLeft;
			window.open(winURL, winName, winOpt + ",menubar=no,status=no,scrollbars=auto,resizable=yes");	
		}
		
	});
	

</script>

<body data-page="home" ng-app="testList" ng-controller="testListCtrl">

 <ion-content has-header="true" overflow-scroll="true" >

    <div style="margin-left:10px; margin-top:10px; font-size:20px; font-weight:bold; color:maroon"> 
	   TestCase Loaded : {{actTypeList.length}} Items
	</div>

	<hr size=1/>
	
	<div style="margin-top:10px;font-size:10px">
		<strong>Global Header :</strong>
 		<select name="header-filter" id="header-filter" ng-model="data" ng-change="changeHeader()"  
				ng-options="size as size.header_nm for size in headerList "
				style="width:150px; height:25px">
		</select>	
		<input type=text name='header_nm' id='header_nm' ng-model="data.header_nm" />
		<input type=button name="btnAddHeader" value="Add Header"  ng-click="addHeaderClick()"/>
		<input type=button name="btnEditHeader" value="Edit Header" ng-click="editHeaderClick()" ng-show="data.sn != null"/>
		<input type=button name="btnDeleteHeader" value="Delete Header" ng-click="deleteHeaderClick()" ng-show="data.sn != null"/>
		<input type="button" value="TESTGROUP MANAGE"  style="width:160px; background:#69c8ff" ng-click="testgroupManage()"/> 	

	  <div style="margin-top:3px"></div>
	  <table cellspacing=1 cellpadding=3 border=0 bgcolor=#c0c0c0>
		  <form name="form" method="get" action="/kdialog/web/getActionGetBroker" target="frmAct" name="frmAct" id="frmAct">
		  <input type=hidden name="reqmsg" id="reqmsg" value=""/>		  
		    <tr>
		      <td class='td_header'>reqmsg</td>
		      <td class='td_left'><input type="text" name="reqmsg_f" id="reqmsg_f" ng-model="data.reqmsg_f" size=35 my-enter="sendSingleFormForce()"/></td>
		      <td class='td_header'>id</td>
		 	  <td class='td_left'><input type="text" name="id" id="id" ng-model="data.id"  size=35 /></td>
		 	  <td class='td_header'>status</td>
		 	  <td class='td_left'><input type="text" name="status" id="status" ng-model="data.status"  size=70 /></td>
		 	</tr>
		 	<tr>
		 	  <td class='td_header'>event</td>
		 	  <td class='td_left'><input type="text" name="event" id="event" ng-model="data.event"  size=35 /></td>
		 	  <td class='td_header'>uinfo</td>
		 	  <td class='td_left'><input type="text" name="uinfo" ng-model="data.uinfo"  size=35/></td>
		 	  <td class='td_header'>context</td>
		 	  <td class='td_left'><input type="text" name="context" ng-model="data.context"   size=35/></td>
		 	</tr>
		 	<tr>
		 	 <td class='td_header'>STB_VER</td>
		 	 <td class='td_left'><input type="text" name="STB_VER"  ng-model="data.STB_VER"  size=35/></td>
		 	 <td class='td_header'>stbVersion</td>
		 	 <td class='td_left'><input type="text" name="stbVersion" ng-model="data.stbVersion"  size=35/></td>
		 	 <td class='td_header'>product_id</td>
		 	 <td class='td_left'><input type="text" name="product_id" ng-model="data.product_id"  size=35 /></td>
		 	</tr>
		 	<tr>
		 	  <td class='td_header'>appID</td>
		 	  <td class='td_left'><input type="text" name="appID" ng-model="data.appID"  size=35/></td>
			  <td class='td_header'>devService_id</td>
		 	  <td class='td_left'><input type="text" name="devService_id" ng-model="data.devService_id"  size=35/></td>				  
			  <td colspan=2 class='td_left'>
			  	  <input type="button" value="SEND MANUAL CASE" style="background:#69c8ff"  ng-click="sendSingleFormForce()"/>  		
			  </td>		 
			 </tr>			
		  </form>
	  </table>
	</div>	
	
	<!-- TestCase List -->
    <div style="position:absolute; top:230px; height:550px; margin-left:0px; width:100%; font-size:12px">	
		<!-- actType List -->
		<ion-scroll zooming="false" direction="y" scrollbar-y="true" style="width:650px; height:500px; margin-top:5px; overflow-y:auto">
		
			<select name="testgroup-filter" id="testgroup-filter" ng-model="groupDrop" style="width:100px; height:25px">
			    <option ng-repeat="option in testGroupList" value="{{option.gid}}">{{option.group_nm}}</option>
			</select>
			<input type="button" value="LOAD"  style="width:70px; background:#ff8a00" ng-click="loadTestGroup()"/> 
			<select name="show-filter" id="show-filter" ng-model="selDrop" style="width:100px; height:25px"
				ng-hide="groupDrop  > 0">
			    <option ng-repeat="option in serviceDomainList" value="{{option.service_domain}}">{{option.domain_name}} ({{option.service_domain}})</option>
			</select>
			
			<input type="button" value="LOAD"  style="width:70px; background:#ff8a00" ng-click="loadSelId()" ng-hide="groupDrop  > 0" /> 
			<input type="button" value="LOAD ALL"   style="width:80px; background:#ff8a00" ng-click="loadAllId()" ng-hide="groupDrop  > 0" /> 	
			<input type="button" value="START"      style="width:80px; background:#69c8ff" ng-click="testGo()"/> 	
			|
			<input type="button" value="ADD" style="width:80px; background:#EFEFEF" ng-click="addTestCase()"/>
			
			
			<div style="height:3px"></div>
			<div style="width:100%; height:600px; overflow:auto">
				<table cellspaing=1 cellpadding=2 border=0 cellspacing=1 cellpadding=2 bgcolor=#000000 width=610>
					<tr>
					  <td class="td_header" width=35>TestID</td>
					  <td class="td_header" width=50>inDomain</td>
					  <td class="td_header" width=35>sysAct</td>				 
					  <td class="td_header" width=35>actType</td>
					  <td class="td_header" ng-click="ordTitle()"><u>reqmsg</u></td>
					  <!-- <td class="td_header" width=35>Actions</td>-->
					</tr>
					<tr ng-repeat="im in testCaseList | filter:getSearchFilter():true" >
						<td class='td_center'>
							<input type=button name='btnEdit' id='btnEdit'
								   ng-click="showXML(im.test_id)" value=" {{im.test_id}}" style="width:40px; font-size:10px"/>						
						</td>
						<td class='td_center' style="font-size:9px">{{ im.in_domain }}</td>
						<td class='td_center'>{{ im.ans_sysAct }}</td>
						<td class='td_center'>{{ im.ans_actType }}</td>
						<td class="td_left" ng-click="sendSingle(im.test_id)">
							 <!-- ng-class="{td_left: im.is_check == '0', bg_sel: im.is_check == '1', td_left_red:im.action_len == '0'}" -->
							 <input type=button name='btnEditTC' id='btnEditTC' ng-click="editTestCase(im.test_id)" value='edit'/> 
								{{ im.exam }}
							 <div style='color:blue; font-size:10px; font-weight:bold' 
							    ng-hide="im.p_status == '' && im.p_event == '' && im.p_uinfo == '' && im.p_context == '' ">
								status = {{im.p_status}}, event = {{im.p_event}}, uinfo = {{im.p_uinfo}}, context = {{im.p_context}}
							 </div>
						</td>
						<!--
						<td ng-class="{td_center: im.is_check == '0', bg_sel_center: im.is_check == '1', td_center_red:im.action_len == '0'}" >{{ im.action_len }}</td>
						-->
					</tr>
				</table>
			</div>
			
		</ion-scroll>
	</div>
	
		
	<!-- ActionResult -->
    <div style="position:absolute; top:230px; left:650px; height:550px; margin-left:0px; width:100%;">		
			<strong>Result Summary</strong>
			<div style="height:3px"></div>
			
			<!-- ActionResult Summary -->			
			<table cellspaing=1 cellpadding=2 border=0 cellspacing=1 cellpadding=2 bgcolor=#000000 width=700
				ng-show="testCaseResult.length > 1">
				<tr>
					<td class="td_header">(t)</td>				
					<td class="td_header_100">TestCase</td>
					<td class="td_header_100">ResultAction</td>
					<td class="td_header_100">AllMatch</td>					
					<td class="td_header_100">actType</td>
					<td class="td_header_100">serviceDomain</td>
					<td class="td_header_100">serviceId</td>
				</tr>
				<tr>
					<td class="td_header">SUCC</td>				
					<td class="td_center_bold" rowspan=2>{{summaryData.test_count}}</td>
					<td class="td_center_bold" rowspan=2>{{testCaseResult.length}}</td>
					<td class="td_center_bold" rowspan=2>{{summaryData.all_match_count}}</td>					
					<td class="td_center_bold_blue">{{summaryData.act_type_match_count}}</td>
					<td class="td_center_bold_blue">{{summaryData.uinfo_match_count}}</td>
					<td class="td_center_bold_blue">{{summaryData.service_id_match_count}}</td>
				</tr>
				<tr>
					<td class="td_header">ERROR</td>				
					<td class="td_center_bold_red">{{testCaseResult.length - summaryData.act_type_match_count}}</td>
					<td class="td_center_bold_red">{{testCaseResult.length - summaryData.uinfo_match_count}}</td>
					<td class="td_center_bold_red">{{testCaseResult.length - summaryData.service_id_match_count}}</td>
				</tr>				
			</table>
			<div style="height:3px"></div>
			
			<!-- XML LOG -->
			<table cellspaing=1 cellpadding=3 border=0 cellspacing=1 cellpadding=2 bgcolor=#000000 width=800
				ng-show="logXML != '' ">
			  <tr><td class='td_header'>
			         XML
					  [ <a ng-click="closeXMLLog()">CLOSE</a> ]
			     </td>
			  </tr>
			  <tr><td style="background:#ffffff"><pre>{{logXML}}</pre></td></tr>
			</table>
			<div style="height:3px"></div>

			<!-- Result List -->
			<table border=0 ng-show="testCaseResult.length > 0"> 
			  <tr>
			   <td>
			     <input type=button name='all' value=' 전체결과 ' ng-click="setResultFilter('')" />
				 <input type=button name='all' value=' 오류목록 ' ng-click="setResultFilter('0')" />
				 <input type=button name='all' value=' 정상목록 ' ng-click="setResultFilter('1')" />
			   </td>
			  </tr>
			</table>
			<table cellspaing=1 cellpadding=2 border=0 cellspacing=1 cellpadding=2 bgcolor=#000000 width=700 style="margin-bottom:10px"
				   ng-repeat="im in testCaseResult | filter:getResultFilter()">

				<tr>
					<td colspan=3 class="td_header_dark">
						&nbsp;&nbsp;<strong>{{im.baseTcDt.exam}} ({{ im.result_idx }}) </strong> <br/>
						<span style='font-size:8px; margin-left:20px'>uword : {{im.p_uword}}</span>
						
					</td>
				</tr>
				<tr><td class="td_header" width=100>mesg</td>
					<td colspan=2 class='td_left'>
						<strong>{{im.mesg}}</strong>
					</td>
				</tr>	
				<tr><td ng-class="{td_header_yes: im.search_check_result == '0', td_header_no: im.search_check_result != '0'}" >search</td>
					<td colspan=2 class='td_left'>
						<table width=100% border=0 cellspacing=1 cellpadding=0 bgcolor=#c0c0c0>
							<tr><td class='td_header_80'>srchWord</td>
							    <td class='td_left'>&nbsp;{{im.baseTcDt.ans_srchword}}</td>
								<td class='td_left'>&nbsp;{{im.srchWord}}</td>
							</tr>
							<tr><td class='td_header_80'>srchOpt</td>
							    <td class='td_left'>&nbsp;{{im.baseTcDt.ans_srchopt}}</td>
								<td class='td_left'>&nbsp;{{im.srchOpt}}</td>
							</tr>
							<tr><td class='td_header_80'>srchQry</td>
							    <td class='td_left'>&nbsp;{{im.baseTcDt.ans_srchqry}}</td>
								<td class='td_left'>&nbsp;{{im.srchQry}}</td>
							</tr>
							<tr><td class='td_header_80'>sWord</td>
								<td class='td_left'>&nbsp;{{im.baseTcDt.ans_sword}}</td>
								<td class='td_left'>&nbsp;{{im.sWord}}</td>
							</tr>	 
						</table>
					</td>
				</tr>					
				<tr>
					<td ng-class="{td_header_yes: im.baseTcDt.ans_sysAct == im.p_sysAct, td_header_no: im.baseTcDt.ans_sysAct != im.p_sysAct}" >sysAct</td>
					<td  class='td_left'>
						<table cellspacing=0 cellpadding=0 border=0>
							<Tr>
								<td class='td_white_bold' width=200 align=center>&nbsp;{{im.baseTcDt.ans_sysAct}} </td>
								<td bgcolor=black width=1></td>
								<td class='td_white_bold' width=200 align=center>&nbsp;{{im.p_sysAct}}</td>
							</tr>
						</table>
					</td>
				</tr>	
				<tr>				
					<td ng-class="{td_header_yes: im.baseTcDt.ans_actType == im.actType, td_header_no: im.baseTcDt.ans_actType != im.actType}" >actType</td>
					<td class='td_left'>
						<table cellspacing=0 cellpadding=0 border=0>
							<Tr>
								<td class='td_white_bold' width=200 align=center>&nbsp;{{im.baseTcDt.actTypeStr}} ({{im.baseTcDt.ans_actType}}) &nbsp;</td>
								<td bgcolor=black width=1></td>
								<td class='td_white_bold' width=200 align=center>&nbsp;{{im.actTypeStr}} ({{im.actType}})</td>
							</tr>
						</table>
					</td>							   
				</tr>
				<tr>
					<td ng-class="{td_header_yes: im.actGroup_match == '1', td_header_no: im.actGroup_match != '1'}" >serviceDomain</td>
					<td  class='td_left'>
						<table cellspacing=0 cellpadding=0 border=0>
							<Tr>
								<td class='td_white_bold' width=200 align=center>&nbsp;{{im.ori_service_domain_str}}</td>
								<td bgcolor=black width=1></td>
								<td class='td_white_bold' width=200 align=center>
								&nbsp;{{im.actGroup_str}} ({{im.actGroup}})</td>
							</tr>
						</table>
					</td>
				</tr>					
				<tr><td ng-class="{td_header_yes: im.service_id_check_result == 'Good', td_header_no: im.service_id_check_result != 'Good'}" >serviceId</td>
					<td class='td_left' colspan=2 width=500>							  
						<table width=100% cellspacing=1 cellpadding=2 border=0 bgcolor=#c0c0c0>
							<tr>
								<td class="td_header_80" width=100>Result</td>
								<td class='td_left' colspan=2><strong>&nbsp;{{im.serviceId}}</strong></td>
							</tr>
							<tr>
								<td class="td_header_80" width=100>
									<span ng-show="im.baseTcDt.chk_method == 'equal'"><strong>Expect</strong></span>
									<span ng-show="im.baseTcDt.chk_method != 'equal'" style='color:blue'><strong>Pattern</strong></span>
								</td>
								<td class='td_left' colspan=2>
									<span ng-show="im.baseTcDt.chk_method == 'equal'"><strong>&nbsp;{{im.baseTcDt.service_id_str}}</strong></span>
									<span ng-show="im.baseTcDt.chk_method != 'equal'" style='color:blue'><strong>&nbsp;{{im.baseTcDt.service_id_tmpl}}</strong></span>
								</td>
							</tr>							
							<!--
							<tr><td class="td_header" width=100>{{im.service_id_pattern_result}}</td>
								<td class='td_left' colspan=2>
										  &nbsp;{{im.ori_service_id}} 
										  <span ng-show=" im.ori_service_id != '' "> / </span>
										  &nbsp;{{im.ori_service_ptrn}} <Br/>
										  &nbsp;{{im.ori_service_id_example}}
								</td>
							</tr>	
							-->							
						</table>
								    
					</td>
				</tr>						 								 
			</table>

			<br/><br/>
	</div>

 
 </ion-content>
 
 
</body>
</html>